@charset "utf-8";
/* CSS Document */


#top ul{
	/*text-align:right;/*导航右移*/

height:70px;
width:1260px;/*设置元素宽度为980px*/
list-style-type:none;
margin:0 auto;/*边界大小*/
padding:0;
overflow:auto;
}

#top ul li{
	/*float:right;/*导航右移*/
	float:left;
	/*display:inline-block;*/
}

#top #wb a:hover{
	width:105px;
	height:38px;
	line-height:38px;
	border:0px solid red;
	color:#DC7765;
	background:#FFF;
}

#top #llmj a:hover{
	width:105px;
	height:38px;
	line-height:38px;
	border:0px solid red;
	color:#DC7765;
	background:#FFF;
}

#top #fb a:hover{
	width:105px;
	height:38px;
	line-height:38px;
	border:0px solid red;
	color:#DC7765;
	background:#FFF;
}


#top li a{
	right:0px;
width:105px;/*设置元素宽为80px*/
height:70px;/*设置高度为28px*/
line-height:38px;/*设置行距为28px，让文字在每行的中间位置*
/*background:#1E7380;/*设置元素的背景为红色*/
background:#009688;
color:#FFF;/*文字颜色是白色*/
margin:0 auto;
alignment-adjust:middle;
alignment-baseline:central
font-size:16px;/*用12号字*/
display:block;/*这个比较关键，因为a本身就是联级元素，本身不具有宽高，用这个把它变成块级元素，这样前面设置的宽和高就能起作用了*/
text-align:center;/*让文本居中*/
text-decoration:none; /*去掉下划线*/
}

#pic{
	width: 1260px;
	height : 700px;
	margin: auto;
	text-align: center;
	position: relative;
	background-image: url("../src/picture/workout.gif");

}
#pic h1{
	position: relative;
	margin-top: -10px;
}
#pic p a{
	background: dark;
}
#picturen{
	z-index: -999;
}
#strength{
	position: absolute;
	left: 300px;
	top: 280px;
}
#diet{
	position: absolute;
	right: 300px;
	top: 280px;
}
#store{
	position: absolute;
	right: 280px;
	bottom: 150px;
}
#profile{
	position: absolute;
	left: 300px;
	bottom: 150px;
}
#strengthlang{
	position: absolute;
	left:170px;
	top : 200px;
}
#dietlang{
	position: absolute;
	right:230px;
	top: 200px;
}
#storelang{
	position: absolute;
	right : 210px;
	bottom:210px;

}
#profilelang{
	position: absolute;
	left : 240px;
	bottom:210px;
}


#bottom ul{
	/*text-align:right;/*导航右移*/

height:125px;
width:1260px;/*设置元素宽度为980px*/
list-style-type:none;
margin:0 auto;/*边界大小*/
padding:0;
overflow:auto;
}

#bottom ul li{
	/*float:right;/*导航右移*/
	float:left;
	/*display:inline-block;*/
}



#bottom li a{
	right:0px;
width:1260px;/*设置元素宽为80px*/
height:25px;/*设置高度为28px*/
line-height:20px;/*设置行距为28px，让文字在每行的中间位置*/
background:#9C9;/*设置元素的背景为红色*/
color:#FFF;/*文字颜色是白色*/
margin:0 auto;
alignment-adjust:middle;
alignment-baseline:central
font-size:16px;/*用12号字*/
display:block;/*这个比较关键，因为a本身就是联级元素，本身不具有宽高，用这个把它变成块级元素，这样前面设置的宽和高就能起作用了*/
text-align:center;/*让文本居中*/
text-decoration:none; /*去掉下划线*/
}
